.product-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 20px 0;
  min-height: calc(100vh - 210px);
}

.product-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.product-content {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
}

.product-image {
  width: 80px; /* Tamaño fijo */
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.delete-button {
  background: transparent;
  border: none;
  color: #58A19B;
  cursor: pointer;
  margin-right: 10px;
}