.product-list {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    align-items: center; 
  }
  
  .product-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%; 
    max-width: 400px; 
  }
  
  .separator {
    width: 83%;
    height: 2px;
    background-color: #58A19B;
    margin-right: 22px; 
  }
  
  .delete-button{
    background: transparent;
    border: 0px;
    color:#58A19B;
  }