@font-face {
  font-family: 'Lexie Readable';
  src: url("./assets/fonts/LexieReadable-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

main{
  padding-top: 100px; ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lexie Readable;
}

:root{
  --primary: #58A19B;
  --secondary: #0C2745;
  --tertiary: #CFE2A5;
  --details: #F6CC42;
  --background: #F8F4D9;
}