.categoryContainer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en iOS /
  }
  
  .categoryContainer::-webkit-scrollbar {
    display: none; / Oculta la barra de desplazamiento en navegadores WebKit */
  }
  
  .categoryNav {
    width: 100%;
    overflow: hidden;
  }